*{
  margin: 0;
}

.Header{
  background-color: rgb(146, 212, 59);
  padding: 13px;
}

.Nav{
  background-color: rgb(129, 127, 127);
  padding: 13px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.searchInputField{
  padding: 6px;
  width: 30%;
}

.navLinks{
  color: #fff;
}
